{% extends "base.html.twig" %}

{% block title %}Afficher Produits{% endblock %}

{% block body %}
<div class="mt-5">
    <a href="{{path('app_ajouter_produit')}}" class="btn btn-info">Ajouter un produit</a>
</div>
<div class="row mt-5">

    {% for produit in produits %}
    <div class="col-md-3 col-sm-12 mt-5">
        <div class="card h-100 mt-3">
            <div class="card-header">
                <img src="{{produit.image}}" alt="{{produit.name}}" title="{{produit.name}}" class="card-img-top"
                    width="100%" />
            </div>
            <div class="card-body">
                <h3> {{produit.name}}</h3>
                <p class="mt-5 line-clamp-3 text-sm leading-6 text-gray-600">{{produit.description}}</p>
                <h5 class="text-success">Catégories : {{produit.categorie.name}}</h5>
                <ul class="list-group">
                    <h4 class="text-warning">Liste des ditributeurs : </h4>
                    {% for distributeur in produit.distributeur %}
                    <li class="list-group-item">{{ distributeur.name }}</li>
                    {% endfor %}
                    <h6 class="text-danger mt-3">Référence du produit : {{produit.reference.name}}</h6>
                    <time datetime="2020-03-16" class="text-gray-500">Posté le :
                        {{produit.createdAt|date('d/m/y')}}</time>
                    <p class="text-info">Prix : {{produit.price}} €</p>
                    <a href="" class="btn btn-warning">Détails du
                        produit</a>
            </div>

        </div>
    </div>
    {% endfor %}
</div>


{% endblock %}