{% extends "base.html.twig" %}

{% block title %}Editer le produits{% endblock %}

{% block body %}
<div class="container w-50 shadow rounded mx-auto mt-5 p-3">
    <h1 class="text-center text-warning">Editer le produit</h1>
    {% include 'produits/_produits_form.html.twig' %}


        {% for image in produits.photos %}
            <div>
                <img class="img-fluid mt-3" src="{{asset('img/' ~ image.name)}}" alt="{{image.name}}" title="{{image.name}}" width="25%"/>
                <a href="{{path('app_supprimer_image', {id: image.id})}}" data-delete data-token="{{csrf_token('delete' ~ image.id)}}" class="btn btn-danger mx-5">Supprimer l'image</a>
            </div>
        {% endfor %}

</div>
{% endblock %}